In [3]:
import pandas as pd
import numpy as np

In [4]:
X_train = pd.read_csv("train.csv")
X_test = pd.read_csv("test.csv")
X_train
X_test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
11,903,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
13,905,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C
16,908,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NaN,Q
17,909,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NaN,C
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NaN,C
20,912,1,"Rothschild, Mr. Martin",male,55.0,1,0,PC 17603,59.4000,NaN,C
21,913,3,"Olsen, Master. Artur Karl",male,9.0,0,1,C 17368,3.1708,NaN,S
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S
23,915,1,"Williams, Mr. Richard Norris II",male,21.0,0,1,PC 17597,61.3792,NaN,C
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
25,917,3,"Robins, Mr. Alexander A",male,50.0,1,0,A/5. 3337,14.5000,NaN,S
26,918,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,C
27,919,3,"Daher, Mr. Shedid",male,22.5,0,0,2698,7.2250,NaN,C
28,920,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S
29,921,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,NaN,Q
389,1281,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,NaN,S
390,1282,1,"Payne, Mr. Vivian Ponsonby",male,23.0,0,0,12749,93.5000,B24,S
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S
392,1284,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S
393,1285,2,"Gilbert, Mr. William",male,47.0,0,0,C.A. 30769,10.5000,NaN,S
394,1286,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.0,1,0,13695,60.0000,C31,S
396,1288,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,NaN,Q
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1,1,13567,79.2000,B41,C
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,NaN,S
399,1291,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,NaN,Q
400,1292,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S
401,1293,2,"Gale, Mr. Harry",male,38.0,1,0,28664,21.0000,NaN,S
402,1294,1,"Gibson, Miss. Dorothy Winifred",female,22.0,0,1,112378,59.4000,NaN,C
403,1295,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,NaN,S
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C
406,1298,2,"Ware, Mr. William Jeffery",male,23.0,1,0,28666,10.5000,NaN,S
407,1299,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q
409,1301,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
410,1302,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q
412,1304,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [5]:
Y_train = X_train.pop("Survived")

In [6]:
print(X_train.shape, Y_train.shape)

(891, 11) (891,)

In [7]:
X_train.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.836071   14.526497    1.102743    0.806057   49.693429
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    2.000000   20.125000    0.000000    0.000000    7.910400
50%     446.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000    3.000000   38.000000    1.000000    0.000000   31.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [8]:
def clean_cabin(V):
    try:
        return V[0]
    except:
        return "None"
        

X_train["Age"].fillna(X_train.Age.mean(), inplace = True)
X_train.drop(['Name', 'PassengerId', 'Ticket'], axis = 1, inplace = True)
X_train['Cabin'] = X_train.Cabin.apply(clean_cabin)

categorical_variables = ['Sex', 'Cabin', 'Embarked']
for variable in categorical_variables:
    X_train[variable].fillna("Missing", inplace = True)
    dummies = pd.get_dummies(X_train[variable], prefix = variable)
    X_train = pd.concat([X_train, dummies], axis = 1)
    X_train.drop([variable], axis = 1, inplace = True)
    

X_test["Age"].fillna(X_test.Age.mean(), inplace = True)
passenger_out = X_test.pop("PassengerId")
X_test.drop(['Name', 'Ticket'], axis = 1, inplace = True)
X_test['Cabin'] = X_test.Cabin.apply(clean_cabin)

categorical_variables = ['Sex', 'Cabin', 'Embarked']
for variable in categorical_variables:
    X_test[variable].fillna("Missing", inplace = True)
    dummies = pd.get_dummies(X_test[variable], prefix = variable)
    X_test = pd.concat([X_test, dummies], axis = 1)
    X_test.drop([variable], axis = 1, inplace = True)

In [9]:
from sklearn.neural_network import MLPClassifier

In [10]:
X_test["Fare"].fillna(X_test.Fare.mean(), inplace = True)
X_test.describe()
X_train.pop("Embarked_Missing")
X_train.pop("Cabin_T")

0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
      ..
861    0
862    0
863    0
864    0
865    0
866    0
867    0
868    0
869    0
870    0
871    0
872    0
873    0
874    0
875    0
876    0
877    0
878    0
879    0
880    0
881    0
882    0
883    0
884    0
885    0
886    0
887    0
888    0
889    0
890    0
Name: Cabin_T, Length: 891, dtype: uint8

In [11]:
X_train.describe()

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_None,Embarked_C,Embarked_Q,Embarked_S
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,2.308642,29.699118,0.523008,0.381594,32.204208,0.352413,0.647587,0.016835,0.052750,0.066218,0.037037,0.035915,0.014590,0.004489,0.771044,0.188552,0.086420,0.722783
std,0.836071,13.002015,1.102743,0.806057,49.693429,0.477990,0.477990,0.128725,0.223659,0.248802,0.188959,0.186182,0.119973,0.066890,0.420397,0.391372,0.281141,0.447876
min,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,22.000000,0.000000,0.000000,7.910400,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,3.000000,29.699118,0.000000,0.000000,14.454200,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
75%,3.000000,35.000000,1.000000,0.000000,31.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
max,3.000000,80.000000,8.000000,6.000000,512.329200,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [18]:
X_test.describe()

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_None,Embarked_C,Embarked_Q,Embarked_S
count,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000
mean,2.265550,30.272590,0.447368,0.392344,35.627188,0.363636,0.636364,0.016746,0.043062,0.083732,0.031100,0.021531,0.019139,0.002392,0.782297,0.244019,0.110048,0.645933
std,0.841838,12.634534,0.896760,0.981429,55.840500,0.481622,0.481622,0.128474,0.203240,0.277317,0.173797,0.145320,0.137177,0.048912,0.413179,0.430019,0.313324,0.478803
min,1.000000,0.170000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,23.000000,0.000000,0.000000,7.895800,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,3.000000,30.272590,0.000000,0.000000,14.454200,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
75%,3.000000,35.750000,1.000000,0.000000,31.500000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
max,3.000000,76.000000,8.000000,9.000000,512.329200,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [16]:
out = open('output.csv', "w")
out.write("PassengerId,Survived\n")

rows = ['']*len(passenger_out) 
for num in range(0, len(passenger_out)): 
    rows[num] = "%d,%d\n"%(passenger_out[num], pred2[num])
out.writelines(rows)
out.close()

NameError: name 'pred2' is not defined

In [ ]:
#Some useful functions
def sigmoid(Z):

    A = 1/(1+np.exp(-Z))
    cache = Z 
    return A, cache

def relu(Z):

    A = np.maximum(0,Z) 
    cache = Z 
    return A, cache


def relu_backward(dA, cache):

    Z = cache
    dZ = np.array(dA, copy=True) # just converting dz to a correct object.
    
    # When z <= 0, you should set dz to 0 as well. 
    dZ[Z <= 0] = 0
    
    return dZ

def sigmoid_backward(dA, cache):
    
    Z = cache
    
    s = 1/(1+np.exp(-Z))
    dZ = dA * s * (1-s)
    
    return dZ

In [ ]:
class NeuralNetwork:
    
    parameters = {}
    grads = {}
    costs = []
    costs_label = []
    
    def __init__(self, X, Y, layers_dims, learning_rate = 0.0075, num_iterations = 3000, print_cost=False, print_cost_frequency = 500, parameters_init_factor = 0.01):
        
        # Initializing the parameters
        self.parameters = self.initialize_parameters(layers_dims, parameters_init_factor)

        for i in range(0, num_iterations):
            # Forward Propagation
            AL, caches = self.forward_propagate(X, self.parameters)
            cost = self.compute_cost(AL, Y)

            # Backward propagation.
            grads = self.backward_propagate(AL, Y, caches)

            # Updating the parameters
            self.parameters = self.update_parameters(self.parameters, grads, learning_rate)

            if i % print_cost_frequency == 0:
                
                # Saving Costs At Regular Intervals
                self.costs.append(cost)
                self.costs_label.append(i)
                
                # Printing Cost If Demanded
                if print_cost:
                    print("Cost After {} Iterations: {}".format(i, cost))
        
    def initialize_parameters(self, layers_dims, parameters_init_factor):
        
        L = len(layers_dims)
        # layers_dims starts with dimension of the input layer and ends with the dimension of the output layer

        for l in range(1, L):
            self.parameters["W" + str(l)] = np.random.randn(layers_dims[l], layers_dims[l - 1])*parameters_init_factor
            self.parameters["b" + str(l)] = np.zeros((layers_dims[l], 1))
            
        return self.parameters
    
    def forward_propagate(self, X, parameters):
        
        # A cache is to be returned, containing all the Z's, A's(activations) and the parameters 
        caches = []
        A = X
        L = len(parameters) // 2   # Since 'parameters' contain both wieghts and biases               
        
        for l in range(1, L):
            A_prev = A 
            A, cache = self.linear_activation_forward(A_prev, self.parameters['W' + str(l)], self.parameters['b' + str(l)], 'relu')
            caches.append(cache)
            
        AL, cache = self.linear_activation_forward(A, self.parameters['W' + str(L)], self.parameters['b' + str(L)], 'sigmoid')
        caches.append(cache)
        
        return AL, caches
    
    def linear_activation_forward(self, A_prev, W, b, activation):
        
        Z, linear_cache = np.dot(W, A_prev) + b, (A_prev, W, b)
        
        if activation == "sigmoid": 
            A, activation_cache = sigmoid(Z)
        elif activation == "relu":
            A, activation_cache = relu(Z)
            
        cache = (linear_cache, activation_cache)

        return A, cache
    
    def compute_cost(self, AL, Y):
        
        m = Y.shape[1]
        
        cost = - np.sum(np.sum(Y*np.log(AL) + (1 - Y)*np.log(1 - AL))) / m

        cost = np.squeeze(cost)      # To make sure that cost's shape is what we expect (e.g. this turns [[17]] into 17).
        
        return cost
    
    def backward_propagate(self, AL, Y, caches):
        grads = {}
        L = len(caches) # the number of layers
        m = AL.shape[1]
        Y = Y.reshape(AL.shape) # after this line, Y is the same shape as AL

        # Initializing the backpropagation
        dAL = - (np.divide(Y, AL) - np.divide(1 - Y, 1 - AL))

        # Backpropagation for the output layer (sigmoid activation)
        current_cache = caches[L - 1]
        grads["dA" + str(L)], grads["dW" + str(L)], grads["db" + str(L)] = self.linear_activation_backward(dAL, current_cache, activation = 'sigmoid') 


        for l in reversed(range(L-1)):
            # Backpropagation for the hidden layers (ReLU activation)
            current_cache = caches[l]
            dA_prev_temp, dW_temp, db_temp = self.linear_activation_backward(grads['dA' + str(l + 2)], current_cache, activation = 'relu')
            grads["dA" + str(l + 1)] = dA_prev_temp
            grads["dW" + str(l + 1)] = dW_temp
            grads["db" + str(l + 1)] = db_temp

        return grads
    
    def linear_activation_backward(self, dA, cache, activation):
        
        linear_cache, activation_cache = cache
        A_prev, W, b = linear_cache[0], linear_cache[1], linear_cache[2]
        m = A_prev.shape[1]
        
        if activation == "relu":
            dZ = relu_backward(dA, activation_cache)
            
        elif activation == "sigmoid":
            dZ = sigmoid_backward(dA, activation_cache)
        
        dA_prev, dW, db = np.dot(W.T, dZ), np.dot(dZ, A_prev.T) / m, np.sum(dZ, axis = 1, keepdims = True) / m 
     
        return dA_prev, dW, db
    
    
    def update_parameters(self, parameters, grads, learning_rate):   

        L = len(parameters) // 2    # Since parameters contain both Weights and Biases

        for l in range(1, L + 1):
            self.parameters["W" + str(l)] = self.parameters["W" + str(l)] - grads["dW" + str(l)]*learning_rate
            self.parameters["b" + str(l)] = self.parameters["b" + str(l)] - grads["db" + str(l)]*learning_rate

        return parameters
    
    
    def predict(self, X):
        
        y_pred = self.forward_propagate(X, self.parameters)[0]
        y_pred_ret = np.zeros(y_pred.shape)
        
        for i in range(y_pred.shape[1]):
            
            max_index, max_value = 0, y_pred[0][i]
            
            for j in range(1, y_pred.shape[0]):
                if(y_pred[j][i] > max_value):
                    max_value = y_pred[j][i]
                    max_index = j
                    
            y_pred_ret[max_index][i] = 1
                
        return y_pred_ret
    
    def plotCost(self):
        
        pt.plot(self.costs, self.costs_label, color = 'green')

(18, 418)

In [17]:
myNN = NeuralNetwork(X_train, Y_train, layers_dims = (X_train.shape[0], 30, 1), learning_rate = 0.1, num_iterations = 1000, print_cost=True, print_cost_frequency = 100, parameters_init_factor = 0.01)

NameError: name 'relu' is not defined

In [ ]:
myNN.plotCost()
y_test_pred = myNN.predict(X_test)
y_train_pred = myNN.predict(X_train)

In [ ]:
print(Y_train_p.shape, y_train_pred.shape)

In [ ]:
accuracy_score(Y_train_p.T, y_train_pred.T)

In [ ]:
accuracy_score(Y_test_p.T, y_test_pred.T)

In [ ]:
print(classification_report(Y_test_p.T, y_test_pred.T))